{#<div class="block_outer">#}
{#    <div id="leading_area">#}
{#        <h2>LEADING BRAND<span class="h2_ja">先行販売ブランド</span>#}
{#        </h2>#}
{#        <div class="block_body">#}
{#            {% set CategoryRepository = repository("Eccube\\Entity\\Category") %}#}
{#            <div class="leading_contents">#}
{#                <div class="banner1"><a href="{{ url('product_list', {category_id: CategoryRepository.findOneBy( {'name': 'LARME'}).id }) }}"><img src="{{ asset('assets/img/banner/larmesilicone690.jpg') }}" alt=""></a></div>#}
{#                <div class="banner2"><a href="{{ url('product_list', {category_id: CategoryRepository.findOneBy({'name': 'LARME CLIONEシリーズ'}).id }) }}"><img src="{{ asset('assets/img/banner/clione1day_690_230.jpg') }}" alt=""></a></div>#}
{#                <div class="banner3"><a href="{{ url('product_list', {category_id: CategoryRepository.findOneBy({'name': 'TOPARDS'}).id }) }}"><img src="{{ asset('assets/img/banner/TOPARDS690.jpg') }}" alt=""></a></div>#}
{#            </div>#}
            {#<div class="news_archive to_archive"><a href="{{ url('product_list') }}">一覧はコチラ ›</a></div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}